.contact-square {
  margin: auto;
  margin-bottom: 1rem;

  h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 2.5rem;
  }
}

.triangle-dash {
  width: 100vw;
  height: 12vh;
  background-color: $black;
  z-index: 5;
  // -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  // clip-path: polygon(0 0, 0% 100%, 60% 100%);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  margin-bottom: 2rem;

  ul {
    display: flex;
  }

  .list-dash {
    cursor: pointer;
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
    padding: 10px 15px 0 10px;
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 55px;
    z-index: 10;
    margin-left: 1rem;
    margin-bottom: 30px;
    transition: all 0.4s ease;
    i {
      margin-right: 0.5rem;
    }

    &:hover:nth-child(1) {
      background-color: rgb(32, 179, 105);
    }
    &:hover:nth-child(2) {
      background-color: rgb(50, 162, 196);
    }
    &:hover:nth-child(3) {
      background-color: $red;
    }

    &:nth-child(2) {
      -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
      clip-path: polygon(17% 0%, 79% 0, 100% 100%, 0 100%);
    }
    &:nth-child(3) {
      -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
      clip-path: polygon(17% 0%, 79% 25%, 100% 100%, 0 100%);
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .list-dash:hover a {
    color: white;
  }
}

.container-project-dash {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.project-dash {
  margin-top: 5rem;
  padding-top: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  min-width: 270px;
  top: 0;
  left: 0;
  box-shadow: -35px -30px 0px black;

  img {
    width: 100%;
    height: 100%;
  }
}

.project-dash-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 0.7rem;
  }
  a {
    font-weight: 700;
    color: red;
    margin-bottom: 0.3rem;
  }
  p {
    margin-bottom: 0.3rem;
  }
}

.btn-dash {
  display: flex;
  margin-bottom: 0.5rem;
  width: 50%;
  justify-content: space-around;
  .btn-upt {
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    font-weight: 700;
  }
  .btn-del {
    cursor: pointer;
    font-weight: 700;
    padding: 0.5rem;
    background-color: red;
    color: white;
    border: none;
  }
}
