.inter-section {
  height: 15vh;
  margin-top: -1px;
  background-color: $black;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 10%);
}

footer {
  position: relative;
  height: auto;
}

.square-background {
  position: absolute;
  bottom: 0;
  -webkit-clip-path: polygon(0 100%, 0% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 0% 0, 100% 100%, 0 100%);
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.26);
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 25%;
  z-index: 3;
  .char-footer {
    width: 30%;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }
  a {
    color: white;
    font-size: 1.2rem;
  }
  p {
    color: white;
    font-size: 1.2rem;
  }
  .git:hover {
    color: black;
  }
  i {
    font-size: 3rem;
    color: white;
    padding-bottom: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      color: rgb(255, 193, 79);
    }
  }
}

.reseau {
  top: 40%;
  left: 50%;
  z-index: 3;
  display: flex;
  list-style: none;
  align-items: flex-end;
  height: 15vh;
  margin-bottom: 2rem;
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px !important;
  }
  li {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background-color: rgba(0, 0, 0, 0.308);
    &:hover {
      span {
        &:nth-child(5) {
          transform: translate(40px, -40px);
          opacity: 1;
        }
        &:nth-child(4) {
          transform: translate(30px, -30px);
          opacity: 0.8;
        }
        &:nth-child(3) {
          transform: translate(20px, -20px);
          opacity: 0.6;
        }
        &:nth-child(2) {
          transform: translate(10px, -10px);
          opacity: 0.4;
        }
        &:nth-child(1) {
          transform: translate(0px, 0px);
          opacity: 0.2;
        }
      }
    }
  }
  li:nth-child(1) span {
    background-color: #3b5999;
  }
  li:nth-child(2) span {
    background-color: #55acee;
  }
  li:nth-child(3) span {
    background-color: #e4405f;
  }
}

.jump-top {
  z-index: 9;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 90px;
  height: 90px;
  background-color: $white;
  -webkit-clip-path: polygon(20% 0%, 100% 30%, 100% 100%, 0 100%);
  clip-path: polygon(20% 0%, 100% 30%, 100% 100%, 0 100%);
  display: flex;
  padding-left: 1rem;
  padding-top: 0.5rem;
  align-items: center;
  h2 {
    font-size: 1.3rem;
    color: black;
  }
}

.jump-top:nth-child(2) {
  background-color: black;
  z-index: 8;
  transform: rotate(20deg);
}
