.Contact {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
  position: relative;
}

.black-background {
  -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 100%, 50% 100%);
  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 50% 100%);
  height: 100%;
  width: 100%;
  background-color: black;
}

.contact-form {
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 84%);
  clip-path: polygon(2% 6%, 91% 0, 99% 100%, 2% 90%);
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
  text-align: center;
  padding: 3.2rem 5rem 6rem 3rem;
  h2 {
    color: white;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 2.5rem;
    i {
      padding-right: 1.5rem;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='password'] {
    border: rgb(226, 226, 226) 1px solid;
    text-align: center;
    background-color: rgb(240, 240, 240);
    height: 2rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
    outline: none;
    &:focus {
      border: black 1px solid;
      background-color: #e8f0fe;
    }
  }

  textarea {
    border: rgb(226, 226, 226) 1px solid;
    text-align: center;
    background-color: rgb(240, 240, 240);
    height: 5.5rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    outline: none;
    &:focus {
      border: black 1px solid;
      background-color: #e8f0fe;
    }
  }
}

.contact-square {
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 9% 100%);
  width: 400px;
  height: 65px;
  z-index: 5;
  background-color: black;
  margin-bottom: 0.7rem;
}

.contact-form:nth-child(2) {
  background-color: $black;
  transform: rotate(-10deg) translate(0, -50%);
  height: 600px;
  width: 600px;
  left: 25%;
}

.label-form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.contact-btn {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}

.contact-btn1 {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 0.5rem;
  border: none;
  padding-left: 1rem;
  background-color: $red;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(15% 0%, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
  transition: all 0.5s ease;
  &:hover {
    background-color: rgb(109, 1, 1);
    color: $white;
  }
}

.contact-btn2 {
  text-decoration: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
  padding-right: 1rem;
  border: none;
  background-color: $black;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  transition: all 0.5s ease;
  &:hover {
    background-color: rgb(44, 180, 96);
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  &:hover .btn {
    background-color: rgb(59, 59, 59);
  }
}

.btn {
  border: none;
  color: $white;
  background-color: grey;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  i {
    margin-right: 0.8rem;
  }
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
