.square {
  margin-left: auto;
  width: 75%;
  height: 100%;
  background-image: url('/images/Header-square.svg');
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  background-size: 100%;
  position: relative;
  filter: drop-shadow(-150px 80px 0 rgba(0, 0, 0, 0.24));
}

.char-header {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);

  #Morg-header {
    width: 20%;
    filter: drop-shadow(-15px 15px 2px black);
  }

  #Speak {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 12%;
  }
  p {
    color: white;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 33%;
    font-size: 1.2rem;
  }
}
