.login-form {
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 84%);
  clip-path: polygon(2% 6%, 91% 0, 99% 100%, 2% 90%);
  position: absolute;
  background-color: white;
  top: 49%;
  left: 23%;
  background-color: $black;
  transform: rotate(-10deg) translate(0, -50%);
  height: 65%;
  width: 600px;
}
