.page {
  height: 100vh;
  background-color: rgb(34, 0, 0);
}
.content {
  height: 100vh;
  position: relative;
  transform-origin: top left;
  transition: transform 0.5s cubic-bezier(1, 0.005, 0.24, 1);
  background-color: $red;
}

.menu_toggle {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 90px;
  height: 90px;
  background-color: $white;
  -webkit-clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%);
  clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%);
}

.menu-after {
  z-index: 8;
  position: absolute;
  transform: rotate(-10deg);
  top: 0;
  left: px;
  display: block;
  width: 100px;
  height: 90px;
  background-color: $black;
  -webkit-clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%);
  clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%);
}
.menu_toggle:active i {
  opacity: 0.8;
}
.menu_toggle i {
  z-index: 10;
  color: $black;
  cursor: pointer;
}
.menu_toggle .menu_open,
.menu_toggle .menu_close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}
.menu_open {
  transform-origin: -100px -100px;
}
.menu_close {
  transform: rotate(20deg);
  transform-origin: -100px -160px;
}
.menu_items {
  position: absolute;
  bottom: 0;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list {
  cursor: pointer;
  -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
  clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
  padding: 10px 15px 0 10px;
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 60px;
  z-index: 10;
  margin-bottom: 30px;
  transform: translateX(-300px);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  &:after {
    content: "";
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 210px;
    height: 60px;
    background-color: $red;
  }
  &:before {
    content: "";
    -webkit-clip-path: polygon(0% 80%, 79% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 100%, 79% 100%, 100% 100%, 0% 100%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 210px;
    height: 60px;
    background-color: cyan;
  }
}

@keyframes hoverRed {
  0% {
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
  }

  50% {
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 80% 25%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 80% 25%);
  }

  100% {
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
  }
}

.menu_items li:nth-child(2) {
  margin-left: 40px;
}
.menu_items li:nth-child(3) {
  margin-left: 80px;
}

.menu_items a {
  margin-right: 1rem;
  font-family: "Dharma", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  transition: color 0.2s;
  z-index: 11;
  transition: all 0.1s ease;
}
.menu_items li i {
  z-index: 11;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  color: $black;
  opacity: 1;
  transition: all ease 0.3s;
}

.menu_items li:hover::before {
  -webkit-clip-path: polygon(0% 80%, 79% 100%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 80%, 79% 100%, 100% 100%, 0% 100%);
}

.menu_items li:hover::after {
  animation: hoverRed 0.4s infinite;
}
.menu_items li:hover a {
  font-size: 3rem;
  transform: rotate(-5deg);
}
.menu_items li:hover i {
  font-size: 1.4rem;
  opacity: 0;
  transform: rotate(-10deg);
}
.menu_items a:active .icon {
  color: #f37272;
}

.shazam .content {
  transform: rotate(-30deg);
}
.shazam .menu_open {
  transform: rotate(-20deg);
}
.shazam .menu_close {
  transform: rotate(0);
}
.shazam .menu_items li {
  transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.shazam .menu_items li:nth-child(2) {
  transition-delay: 0.47s;
}
.shazam .menu_items li:nth-child(3) {
  transition-delay: 0.48s;
}

.disapear {
  opacity: 0 !important;
}

@media screen and (max-width: 400px) {
  .menu_toggle {
    background: transparent;
  }
  .menu-after {
    opacity: 0;
  }

  .menu_toggle .menu_open,
  .menu_toggle .menu_close {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-top: -15px;
    margin-left: -12px;
    transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
    color: white;
  }
}
