nav {
  display: flex;
  align-items: center;
  background-color: lightgray;
  h1 {
    margin-right: auto;
    flex: 2;
  }
  .nav-bar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    flex: 1;
    .nav-list {
    }
  }
}
