.spe {
  color: $red;
  font-family: 'Dharma';
}
.spe-h2 {
  color: $red;
}
.red-square {
  z-index: 4;
  background-color: $red;
  position: absolute;
  top: 8%;
  left: 48%;
  transform: rotate(-4deg) translate(-50%, -10%);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 50%;
  height: 15%;
}

.h2-css {
  position: absolute;
  top: 10%;
  left: 50%;
}
.h2-square {
  position: absolute;
  top: 7%;
  left: 50%;
  background-color: $white;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, 0);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 400px;
  height: 70px;
  z-index: 5;
  h2 {
    // font-family: 'Dharma';
    text-align: center;
    font-size: 2.5rem;
  }
  &:before {
    content: '';
    background-color: $red;
    position: absolute;
    display: block;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    -webkit-clip-path: polygon(0 0, 100% 9%, 95% 9%, 6% 10%);
    clip-path: polygon(0 0, 100% 0%, 95% 9%, 0% 20%);
    width: 100%;
    height: 100%;
    z-index: 6;
  }
}

.h2-square2 {
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(2deg) translate(-55%, 0);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 30%, 6% 20%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 410px;
  height: 72px;
  z-index: 4;
  position: absolute;
  top: 4%;
  left: 51%;
}
