<header>
  <nav>
    <h1>Homepage</h1>
    <ul class="nav-bar">
      <li class="nav-list"><a href="/contact">Contact</a></li>
    <a href="/users/login">Login</a><li class="nav-list"></li>
    </ul>
  </nav>
</header>
<section id="project-section">
  <div class="container-project">
      <% for(let i =0; i<tutu.length; i++){ %>
      <div class="project">
        <h2> <%= tutu[i].title %> </h2>
        <p> <%= tutu[i].description %> </p>
        <img src="/uploads/<%= tutu[i].image %>" class="project_img">
     </div>
  <% } %>
  </div>
</section>
