@font-face {
  font-family: 'Dharma';
  src: url("../fonts/Dharma Punk 2.ttf") format("truetype"); }
@font-face {
  font-family: 'p5';
  src: url("/fonts/p5.ttf") format("truetype"); }
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif; }
  * h1 {
    font-family: 'Dharma', sans-serif; }

body {
  background-color: #c90000;
  overflow: hidden; }

.page {
  height: 100%;
  background-color: #000000; }

.content {
  height: 100vh;
  transform-origin: top left;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  background-color: #c90000; }

/* basically all styling from now on */
.menu_toggle {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%);
  clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%); }

.menu-after {
  z-index: 8;
  position: absolute;
  transform: rotate(-10deg);
  top: 0;
  left: px;
  display: block;
  width: 100px;
  height: 90px;
  background-color: #000000;
  -webkit-clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%);
  clip-path: polygon(0 0, 69% 0, 100% 60%, 0 79%); }

.menu_toggle:active i {
  opacity: 0.8; }

.menu_toggle i {
  z-index: 10;
  color: #000000;
  cursor: pointer; }

.menu_toggle .menu_open,
.menu_toggle .menu_close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1); }

.menu_open {
  transform-origin: -100px -100px; }

.menu_close {
  transform: rotate(20deg);
  transform-origin: -100px -160px; }

.menu_items {
  position: absolute;
  bottom: 0;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.menu_items li {
  cursor: pointer;
  -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
  clip-path: polygon(17% 25%, 79% 0, 100% 100%, 0 100%);
  padding: 10px 15px 0 10px;
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 60px;
  z-index: 10;
  margin-bottom: 30px;
  transform: translateX(-300px);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1); }
  .menu_items li:after {
    content: '';
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 210px;
    height: 60px;
    background-color: #c90000; }
  .menu_items li:before {
    content: '';
    -webkit-clip-path: polygon(0% 80%, 79% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 100%, 79% 100%, 100% 100%, 0% 100%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 210px;
    height: 60px;
    background-color: cyan; }

@keyframes hoverRed {
  0% {
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%); }
  50% {
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 80% 25%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 80% 25%); }
  100% {
    -webkit-clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%);
    clip-path: polygon(17% 25%, 79% 0, 100% 100%, 79% 0%); } }
.menu_items li:nth-child(2) {
  margin-left: 40px; }

.menu_items li:nth-child(3) {
  margin-left: 80px; }

.menu_items a {
  margin-right: 1rem;
  font-family: 'Dharma', sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  transition: color 0.2s;
  z-index: 11;
  transition: all 0.1s ease; }

.menu_items li i {
  z-index: 11;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  color: #000000;
  opacity: 1;
  transition: all ease 0.3s; }

.menu_items li:hover::before {
  -webkit-clip-path: polygon(0% 80%, 79% 100%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 80%, 79% 100%, 100% 100%, 0% 100%); }

.menu_items li:hover::after {
  animation: hoverRed 0.4s infinite; }

.menu_items li:hover a {
  font-size: 3rem;
  transform: rotate(-5deg); }

.menu_items li:hover i {
  font-size: 1.4rem;
  opacity: 0;
  transform: rotate(-10deg); }

.menu_items a:active .icon {
  color: #f37272; }

/* Let's open up the menu */
.shazam .content {
  transform: rotate(-30deg); }

.shazam .menu_open {
  transform: rotate(-20deg); }

.shazam .menu_close {
  transform: rotate(0); }

.shazam .menu_items li {
  transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.shazam .menu_items li:nth-child(2) {
  transition-delay: 0.47s; }

.shazam .menu_items li:nth-child(3) {
  transition-delay: 0.48s; }

#project-section {
  -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  background-color: #000000;
  position: relative;
  padding-top: 8rem;
  height: 115vh; }

.container-project {
  transform: rotate(2deg);
  -webkit-clip-path: polygon(1% 6%, 98% 1%, 97% 97%, 3% 95%);
  clip-path: polygon(1% 6%, 98% 1%, 97% 97%, 3% 95%);
  background-color: #ffffff;
  padding-top: 1rem;
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 95%;
  height: 100%;
  margin: auto; }
  .container-project .project {
    padding: 8% 10% 0% 10%;
    border-radius: 3px;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 85%;
    opacity: 0;
    background-color: #00dd76;
    transition: opacity 0.5s ease-in-out;
    font-size: 1rem;
    pointer-events: none; }
    .container-project .project:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.171);
      -webkit-clip-path: polygon(0 0, 0 15%, 100% 0);
      clip-path: polygon(0 0, 0 15%, 100% 0); }
  .container-project .project-text {
    height: 100%;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: left; }
    .container-project .project-text h2 {
      text-transform: uppercase;
      font-size: 2rem;
      color: #000000;
      margin-bottom: 1em; }
    .container-project .project-text p {
      word-wrap: break-word;
      width: 100%;
      font-size: 1rem;
      margin-bottom: 1.5em; }
    .container-project .project-text #btn1 {
      background-color: #000000;
      text-decoration: none;
      font-weight: 700;
      mix-blend-mode: multiply;
      color: #ffffff;
      border: #000000 2px solid;
      padding: 9px;
      transition: all 0.5s ease; }
      .container-project .project-text #btn1:hover {
        mix-blend-mode: multiply;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border: rgba(0, 0, 0, 0) 2px solid; }
    .container-project .project-text #btn2 {
      padding: 10px;
      background-color: transparent;
      border: #000000 2px solid;
      text-decoration: none;
      font-weight: 700;
      color: #000000;
      transition: all 0.5s ease; }
      .container-project .project-text #btn2:hover {
        mix-blend-mode: multiply;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border: rgba(0, 0, 0, 0) 2px solid; }
  .container-project .active {
    opacity: 1;
    pointer-events: visible; }
  .container-project .project_img {
    height: 70%;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 25px -15px 2px rgba(0, 0, 0, 0.247); }

#left {
  opacity: 0;
  cursor: pointer;
  top: 50%;
  left: 6%;
  font-size: 3rem;
  color: #000000;
  position: absolute;
  transition: 0.4s all ease;
  pointer-events: none; }
  #left:hover {
    color: #ffffff;
    transform: scale(1.3); }

#right {
  cursor: pointer;
  top: 50%;
  right: 6%;
  font-size: 3rem;
  color: #000000;
  position: absolute;
  transition: 0.4s all ease; }
  #right:hover {
    color: #ffffff;
    transform: scale(1.3); }

.square {
  margin-left: auto;
  width: 75%;
  height: 100%;
  background-image: url("/images/Header-square.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  background-size: 100%;
  position: relative;
  filter: drop-shadow(-150px 80px 0 rgba(0, 0, 0, 0.24)); }

.char-header {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%); }
  .char-header #Morg-header {
    width: 20%;
    filter: drop-shadow(-15px 15px 2px black); }
  .char-header #Speak {
    width: 60%;
    position: absolute;
    top: 10%;
    left: 12%; }
  .char-header p {
    color: white;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 33%;
    font-size: 1.2rem; }

.h1-square {
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 50%;
  height: 15%;
  z-index: 5; }
  .h1-square h1 {
    text-align: center;
    font-size: 5rem;
    transform: rotate(-2deg);
    padding-right: 2rem;
    padding-top: 3px; }
  .h1-square:after {
    content: '';
    background-color: cyan;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    -webkit-clip-path: polygon(0 0, 100% 9%, 95% 9%, 6% 10%);
    clip-path: polygon(0 0, 100% 9%, 95% 9%, 6% 10%);
    width: 100%;
    height: 100%;
    z-index: 5; }

.spe {
  color: #c90000;
  font-family: 'Dharma'; }

.spe-h2 {
  color: #c90000; }

.red-square {
  z-index: 4;
  background-color: #c90000;
  position: absolute;
  top: 8%;
  left: 48%;
  transform: rotate(-4deg) translate(-50%, -10%);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 50%;
  height: 15%; }

.h2-css {
  position: absolute;
  top: 10%;
  left: 50%; }

.h2-square {
  position: absolute;
  top: 7%;
  left: 50%;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, 0);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 400px;
  height: 70px;
  z-index: 5; }
  .h2-square h2 {
    text-align: center;
    font-size: 2.5rem; }
  .h2-square:before {
    content: '';
    background-color: #c90000;
    position: absolute;
    display: block;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    -webkit-clip-path: polygon(0 0, 100% 9%, 95% 9%, 6% 10%);
    clip-path: polygon(0 0, 100% 0%, 95% 9%, 0% 20%);
    width: 100%;
    height: 100%;
    z-index: 6; }

.h2-square2 {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(2deg) translate(-55%, 0);
  -webkit-clip-path: polygon(0 0, 100% 9%, 95% 30%, 6% 20%);
  clip-path: polygon(0 0, 100% 9%, 95% 70%, 6% 100%);
  width: 410px;
  height: 72px;
  z-index: 4;
  position: absolute;
  top: 4%;
  left: 51%; }

.inter-section {
  height: 15vh;
  margin-top: -1px;
  background-color: #000000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 20%); }

footer {
  position: relative;
  height: 50vh; }

.square-background {
  position: absolute;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 53% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.26); }

.char-footer {
  position: relative;
  height: 100%; }

#morg-footer {
  position: absolute;
  top: -5%;
  filter: drop-shadow(-20px 15px 2px black); }

#speak-footer {
  position: absolute;
  top: 10%;
  transform: rotate(0deg);
  left: 20%;
  width: 70%;
  z-index: 1; }

.footer-text {
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 25%;
  position: absolute;
  z-index: 3; }
  .footer-text h2 {
    color: white; }

.reseau {
  top: 40%;
  left: 50%;
  z-index: 3;
  display: flex;
  list-style: none;
  align-items: center;
  height: 25vh; }
  .reseau span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px !important; }
  .reseau li {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background-color: rgba(0, 0, 0, 0.308); }
    .reseau li:hover span:nth-child(5) {
      transform: translate(40px, -40px);
      opacity: 1; }
    .reseau li:hover span:nth-child(4) {
      transform: translate(30px, -30px);
      opacity: 0.8; }
    .reseau li:hover span:nth-child(3) {
      transform: translate(20px, -20px);
      opacity: 0.6; }
    .reseau li:hover span:nth-child(2) {
      transform: translate(10px, -10px);
      opacity: 0.4; }
    .reseau li:hover span:nth-child(1) {
      transform: translate(0px, 0px);
      opacity: 0.2; }
  .reseau li:nth-child(1) span {
    background-color: #3b5999; }
  .reseau li:nth-child(2) span {
    background-color: #55acee; }
  .reseau li:nth-child(3) span {
    background-color: #e4405f; }

/*# sourceMappingURL=style.css.map */
